main {
  width: 22rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  .big-card__picture {
    width: 21rem;
    height:21rem;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}
