main {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  font-size: 1rem;

  &:hover {
    transform: scale(1.03);
  }

  h2 {
    font-weight: 700;
  }

  .small-card__picture {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .small-card__title__description {
    display: flex;
    flex-direction: column;
    width: 11rem;
    text-align: justify;
    transition: color 0.3s ease;
    gap: 1rem;

    &:hover {
      color: #888;
    }
  }
}
