<main>
  <app-menu-title></app-menu-title>
  <section class="articles">
    <aside>
      <app-big-card
        cardId="1"
        photoCover="https://lh3.googleusercontent.com/-MYIagiB45Dw/XflVr7pbvfI/AAAAAAAAI-M/-EbsViZxTIU-y3jbfxOKFR2_RIOeSugqwCLcBGAsYHQ/s1600/1576621480428715-4.png"
        cardTitle="Homen de Ferro"
      ></app-big-card>
    </aside>
    <section class="articles-small">
      <app-small-card
        cardId="2"
        photoCover="https://th.bing.com/th/id/OIP.t2iPN6pvo-ejcAvUV_2y6QHaHa?rs=1&pid=ImgDetMain"
        cardTitle="Banda Sepultura"
      ></app-small-card>
      <app-small-card
        cardId="3"
        photoCover="https://th.bing.com/th/id/OIP.d_WS7DSA-u2gjjdV-LqM6QHaJX?rs=1&pid=ImgDetMain"
        cardTitle="Van Gogh"
      ></app-small-card>
      <app-small-card
        cardId="4"
        photoCover="https://th.bing.com/th/id/OIP.wdm1hb3SfbNxlfvHpLAEuAHaEs?rs=1&pid=ImgDetMain"
        cardTitle="Van Halen"
      ></app-small-card>
    </section>
  </section>
</main>
