<main>
  <app-menu-title></app-menu-title>
  <section class="articles">
    <aside>
      <app-big-card
        photoCover="https://lh3.googleusercontent.com/-MYIagiB45Dw/XflVr7pbvfI/AAAAAAAAI-M/-EbsViZxTIU-y3jbfxOKFR2_RIOeSugqwCLcBGAsYHQ/s1600/1576621480428715-4.png"
        cardTitle="Título do card"
        cardDescription="Descrição do card"
      ></app-big-card>
    </aside>
    <section class="articles-small">
      <app-small-card
        photoCover="https://lh3.googleusercontent.com/-MYIagiB45Dw/XflVr7pbvfI/AAAAAAAAI-M/-EbsViZxTIU-y3jbfxOKFR2_RIOeSugqwCLcBGAsYHQ/s1600/1576621480428715-4.png"
        cardTitle="Título do card"
        cardDescription="Descrição do card"
      ></app-small-card>
      <app-small-card
        photoCover="https://lh3.googleusercontent.com/-MYIagiB45Dw/XflVr7pbvfI/AAAAAAAAI-M/-EbsViZxTIU-y3jbfxOKFR2_RIOeSugqwCLcBGAsYHQ/s1600/1576621480428715-4.png"
        cardTitle="Título do card"
        cardDescription="Descrição do card"
      ></app-small-card>
      <app-small-card
        photoCover="https://lh3.googleusercontent.com/-MYIagiB45Dw/XflVr7pbvfI/AAAAAAAAI-M/-EbsViZxTIU-y3jbfxOKFR2_RIOeSugqwCLcBGAsYHQ/s1600/1576621480428715-4.png"
        cardTitle="Título do card"
        cardDescription="Descrição do card"
      ></app-small-card>
    </section>
  </section>
</main>
