* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111;
  color: #d3b0b0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-align: justify;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}
